server:
  port: 8000

spring:
  application:
    name: gateway

  cloud:
    config:
      enabled: false # config_server ?? ? ??

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}