spring:
  application:
    name: gateway
  config:
    import: "optional:configserver:http://team5-config-server:8888/"

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE:http://localhost:8761/eureka/}