server:
  port: 10482

spring:
  application:
    name: gateway

  cloud:
    gateway:
      server:
        webmvc:
          routes:
          - id: order_server
            uri: lb://order-server
            predicates:
              - Path=/api/order/**
            filters:
              - StripPrefix=2

    config:
      enabled: false # config_server 설정 하면 true로 변경

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}