name: Gateway 배포

on:
  push:
    branches: [ "dev", "main" ]
  pull_request:
    branches: [ "dev", "main" ]

jobs:
  deploy-gateway:
    uses: nhnacademy-be12-high-five/.github/.github/workflows/infra-workflow.yml@main
    with:
      service-name: gateway_server
      container-name: team5-gateway
      compose-file: docker-compose.yml
    secrets:
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
      SSH_IP: ${{ secrets.SSH_IP }}
      SSH_ID: ${{ secrets.SSH_ID }}
      SSH_PW: ${{ secrets.SSH_PW }}
      SSH_PORT: ${{ secrets.SSH_PORT }}
